// Place all the styles related to the pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  font-size: 20px;
  color: black;
}

h1{
  color: red;
}

.loginBlock{
  text-align: center;
}

.repo{
  border: solid 2px black;
  height: 100px;
}

.repo-header{
  height: 70px;
  border: solid 2px black;
}

.linkup-button{
  border: solid 2px red;
  cursor: pointer;
}

select option {
  border:1px solid black;
  vertical-align:top;
  height:20px;
}


